In [8]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
DATA_PATH = "dataset"
DATA_FILE = "data.csv"
data = pd.read_csv(os.path.join(DATA_PATH, DATA_FILE))

In [10]:
print(data.shape)

(75000, 6)

In [11]:
data.head(3)

   duration1  duration2  temperature  Humidity  Direction  Velocity
0        573        563         26.9      64.8          0      19.1
1        596        561         26.9      64.8          0      19.1
2        579        557         26.9      64.6          0      19.1

In [13]:
data.describe()

,duration1,duration2,temperature,Humidity,Direction,Velocity
count,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000
mean,571.724493,562.643373,27.069213,60.487608,180.000000,15.833333
std,9.890638,7.649569,0.702894,4.552666,108.167259,2.901264
min,557.000000,529.000000,25.100000,51.800000,0.000000,12.050000
25%,566.000000,559.000000,26.900000,57.100000,90.000000,12.050000
50%,570.000000,563.000000,27.300000,60.300000,180.000000,16.350000
75%,574.000000,566.000000,27.600000,63.600000,270.000000,19.100000
max,605.000000,598.000000,28.000000,72.600000,360.000000,19.100000